body{
    background-color: #F2F3F5;
    margin:0;
}
div{
    background-color: white;
}
#article-title{
    margin:0 auto;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif,serif;
    letter-spacing: 10px;
    word-spacing: 10px;
    border:2px solid white;
    padding: 30px;
    position: relative;
    top: 200px;
    background-color: rgba(92,9,85,0.5);
}
.cursive{
    font-family: cursive;
}
.palevoiletred{
    color:palevioletred;
}
h3.cursive{
    color:indigo;
    font-style: italic;
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 46px;
}
p{
    font-size: 18px;
    color:rgb(86, 86, 112);
    min-width: 300px;
    max-width: 750px;
}
h3{
    font-size:1.5rem;
}
.main{
    background-image: url(images/apricots_grapes_apples_flowers_hibiscus_basket_vase_still_life_1920x1373.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3{
    min-width: 200px;
    max-width: 500px;
    margin-top:0;
}
.main a{
    display:block;
    color: white;
    font-size: 50px;
    width: 100%;
    height: 100%;
}
.main ul{
    width:50%;
    margin:0 auto;
    position: relative;
    top:300px;
}
.main li{
    /* display:inline-block; */
    border-radius: 20px;
    list-style-type: none;
    max-width: 350px;
    background-color:rgba(137, 56, 108, 0.78);
    text-align: center;
    margin: 10px 50px;
}
.main li:hover{
    background-color: rgb(168,36,36.09);
}
a{
    text-decoration: none;
}
.navbar{
    min-height: 50px;
    background-color: rgb(65, 39,39);
    position:fixed;
    width:100%;
    z-index: 10;
}
.navbar a{
    display:inline-block;
    height: 50px;
    font-size: 30px;
    text-decoration: none;
    color: #f2f2f2;
    padding-left: 16px;
}
.navbar a:hover{
    background-color: rgb(255, 107,107);
    color:black;
}
#introduction{
    height: 100%;
    padding-top: 240px;
    background-image: url(images/gemma-evans-v9LV9E_GqjY-unsplash.jpg);
    background-size: cover;
}
.container{
    margin: 0 auto;
    max-width:940px;
    background-color: rgb(0,0,0,0);
    padding:0,10px;
}
.card{
    margin-bottom: 10px;
    padding:15px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.25);
}
#species{
    list-style-type:none;
    margin: 0;
    padding:0
}
#species li{
    display: inline-block;
    width:200px;
    height:240px;
}
#species h3{
    position: absolute;
    color:white;
    background-color: rgba(0,0,0,0.5);
    width:200px;
}
.btn{
    color: #fff;
    background-color: rgba(137,96,108,0.78);
    padding:10px 20px;
    text-decoration: none;
    border-radius: 5px;

}
.btn:hover{
    background-color: rgba(168, 37, 37, .9);
}
#symbol img{
    float: right;
}
#symbol{
    background-color: rgba(0,0,0,0.1);
    height: 100%;
}
#media{
    background-color: black;
    height:700px;
}
#media h2{
    position: relative;
    left:200px;
}
#media  iframe{
    height:80%;
    width:100%
}